@media (min-width: 769px) and (max-width: 1440px) {
 body {
  max-width: 1425px;
  width: 100%;
 }

 .container {
  max-width: 1280px;
  width: 100%;
 }

 .left_first_word {
  font-size: 24px;
  padding-bottom: 16px;
 }

 .left_second_word {
  font-size: 56px;
  padding-bottom: 16px;
 }

 .autocontrol_right iframe {
  max-width: 710px;
  width: 100%;
  height: 396px;
 }

 .autocontrol_left {
  padding: 120px 0 116px 145px;
  width: 100%;
  max-width: 780px;
 }
 .autocontrol_right {
  position: relative;
  top: 150px;
  right: 0;
 }

 .company_list_item:not(:last-child) {
  margin-right: 20px;
 }

 .company_list {
  margin: 0 70px;
 }

 .objects_list_item img {
  margin-bottom: 24px;
  max-width: 270px;
  width: 100%;
 }

 .section_objects {
  padding: 100px 150px 80px;
 }

 .section_objects_text {
  margin-bottom: 40px;
 }

 .services_list_item {
  margin-bottom: 162px;
 }

 .footer_right {
  padding-right: 165px;
 }

 .left_section_footer {
  max-width: 1198px;
  width: 100%;
 }

 .right_section_footer i {
  font-size: 34px;
  margin: 0 17px;
  padding-top: 80px;
 }

 .scroll_batton {
  top: 35px;
 }
}
@media (max-width: 1000px) and (min-width: 768px) {
 .company_list {
  flex-wrap: wrap;
 }
 .advantages_first {
  flex-wrap: wrap;
 }

 .advantages_second {
  flex-wrap: wrap;
 }
}

@media (max-width: 768px) and (min-width: 321px) {
 body {
  max-width: 768px;
  width: 100%;
 }

 .container {
  max-width: 708px;
  width: 100%;
 }

 .header_button_ref {
  display: none;
 }
 .header {
  max-width: 768px;
  width: 100%;
 }

 .header_button_burger {
  display: block;
  min-width: 121px;
  width: 100%;
  height: 80px;
  background: #5b61f5;
 }

 .header_icons .fa-facebook-official {
  padding-right: 10px;
 }

 .header_icons .fa-youtube-play {
  padding-left: 10px;
 }

 .header_logo {
  padding-left: 30px;
 }

 .header_text {
  display: none;
 }

 .fa {
  font-size: 26px;
 }

 .header_icons {
  max-width: 85px;

  width: 100%;
 }

 .header_button_burger i {
  color: #fff;
  padding-top: 24px;
  font-size: 31px;
  padding-left: 50px;
  justify-content: center;
 }

 .autocontrol_left {
  padding: 120px 0 80px 0;
 }
 .section_autocontrol {
  flex-direction: column;
 }

 .autocontrol_right {
  text-align: center;
  position: unset;
  padding-bottom: 80px;
 }

 .left_first_word {
  font-size: 24px;
  padding-bottom: 16px;
  padding-left: 30px;
 }

 .left_second_word {
  font-size: 56px;
  padding-bottom: 16px;
  padding-left: 30px;
 }

 .left_third_word {
  font-size: 24px;
  padding-left: 30px;
 }

 .autocontrol_left_p a {
  padding-left: 30px;
 }

 .autocontrol_right iframe {
  max-width: 710px;
  width: 100%;
  height: 396px;
 }

 .company_text-one {
  font-size: 24px;
  padding-bottom: 24px;
 }

 .company_text-second {
  font-size: 16px;
 }

 .company_list {
  margin: 0 37px;
  flex-wrap: wrap;
 }

 .company_list_item:not(:last-child) {
  margin: 0;
 }

 .company_list_item:nth-child(2n + 1) {
  margin-right: 20px;
 }

 .company_list {
  padding-bottom: 0;
 }

 .company_list_item {
  padding-bottom: 80px;
 }

 .advantages_text {
  font-size: 24px;
  margin: 0 auto 48px;
 }

 .advantages_first {
  flex-wrap: wrap;
  margin-bottom: 40px;
 }

 .advantages_first-left {
  max-width: 100%;

  width: 100%;
  align-items: center;
  padding: 0;
 }

 .advantages_second_p {
  font-size: 16px;
 }

 .advantages_first-text:not(:last-child) {
  margin-bottom: 45px;
 }

 .advantages_second_p {
  margin-bottom: 48px;
 }
 .advantages_first-right {
  margin: 0 auto;
 }

 .advantages_first-right img {
  max-width: 466px;
  width: 100%;
 }

 .company_advantages_blocks {
  max-width: 708px;
  width: 100%;
 }

 .advantages_second-right {
  order: 2;
 }

 .advantages_second {
  flex-wrap: wrap;
 }

 .advantages_second-left {
  margin-left: 0;
  padding: 0 0 47px 0;
 }

 .advantages_second_block_p {
  font-size: 16px;
 }

 .advantages_first_p {
  font-size: 16px;
 }

 .advantages_second-right {
  margin: 0 auto;
 }

 .advantages_second-right img {
  max-width: 466px;
  width: 100%;
 }

 .advantages_tooday {
  padding: 80px 0;
  text-align: center;
 }

 .advantages_tooday p {
  margin: 0 auto;
  font-size: 24px;
  padding-bottom: 48px;
 }
 .advantages {
  margin: 0;
 }

 .section_objects {
  padding: 100px 28px 80px;
 }

 .scroll {
  display: none;
 }

 .section_objects_text p {
  font-size: 24px;
 }

 .section_objects_text h4 {
  font-size: 16px;
 }

 .section_objects_text {
  margin-bottom: 56px;
 }

 .objects_list {
  flex-wrap: wrap;
 }

 .objects_list_item img {
  max-width: 344px;
  width: 100%;
  margin-bottom: 24px;
 }

 .objects_list_item:nth-child(-n + 2) {
  margin-bottom: 50px;
 }

 .section_services_text {
  padding: 100px 0 47px;
  font-size: 24px;
  max-width: 708px;
  width: 100%;
 }

 .services_list {
  max-width: 708px;
  width: 100%;
 }
 .services_list_item {
  max-width: 223px;
  width: 100%;
 }

 .services_list_image img {
  max-width: 223px;
  width: 100%;
  height: 243px;
 }

 .services_list_text {
  top: 200px;
  left: 16px;
  font-size: 10px;
  max-width: 168px;
  width: 100%;
  line-height: 10px;
 }

 .services_list_second_text {
  top: 24px;
  right: 16px;
  font-size: 10px;
 }

 .services_text {
  padding-left: 0;
  font-size: 14px;
  line-height: 18px;
 }

 .services_button {
  top: 408px;
  margin-left: 0;
 }

 .footer {
  flex-direction: column;
 }
 .footer_left {
  order: 2;
  margin: 0 auto;
  padding: 0;
  text-align: center;
 }

 .footer_right {
  order: 1;
  padding-right: 0;
  margin: 0 auto;
 }

 .left_section_footer {
  flex-direction: column;
 }

 .footer_right p {
  text-align: center;
 }

 .fiiter_form a {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
 }

 .right_section_footer {
  max-width: 968px;
  width: 100%;
 }

 .right_section_footer i {
  padding: 40px 0;
 }
}
