body {
 font-family: "Montserrat", sans-serif;
 font-size: 14px;
 width: 100%;
 max-width: 2500px;
}

.container {
 max-width: 1760px;
 width: 100%;
 margin: 0 auto;
}

p {
 padding: 0;
 margin: 0;
}

a {
 cursor: pointer;
}

ul {
 padding: 0;
 margin: 0;
}

a:focus,
a:active {
 outline: none;
}

button:focus,
button:active {
 outline: none;
}

/* HEADER */

.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;
 padding: 0 80px;
}

.header_left {
 display: flex;
}

.header_right {
 display: flex;
}

.header_text {
 display: flex;
 margin-left: 78px;
 color: #1e2432;
 align-items: center;
}

.header_text a {
 text-decoration: none;
 color: #000;
 font-weight: 600;
}

.header_text a:not(:last-child) {
 margin-right: 40px;
}

.header_icons {
 display: flex;
 max-width: 75px;
 width: 100%;
 justify-content: space-around;
 align-items: center;
 font-size: 21px;
 padding-right: 40px;
}

.header_button {
 border: none;
 font-size: 12px;
 text-transform: uppercase;
 min-width: 210px;
 width: 100%;
 height: 80px;
 background: #5b61f5 url(../img/line.svg) 184px 36px no-repeat;
 color: #fff;
 font-weight: 700;
 cursor: pointer;
 background-size: 6px;
}

.header_button i {
 margin-left: 6px;
 font-size: 13px;
}

/* SECTION_AUTOCONTROL */

.section_autocontrol {
 display: flex;
 background-color: #383955;
 margin-bottom: 100px;
 min-width: 100%;
 position: relative;
}

.autocontrol_left {
 padding: 176px 23px 197px 145px;
 width: 100%;
 max-width: 801px;
}

.left_first_word {
 color: #fff;
 font-size: 32px;
 padding-bottom: 24px;
}

.left_second_word {
 color: #fff;
 font-size: 72px;
 font-weight: 800;
 padding-bottom: 37px;
}

.left_third_word {
 font-weight: 500;
 line-height: 32px;
 color: #fff;
 font-size: 24px;
 padding-bottom: 48px;
}

.autocontrol_right iframe {
 max-width: 950px;
 width: 100%;
 height: 530px;
}

.section_button {
 border-radius: 10px;
 border: none;
 font-size: 12px;
 text-transform: uppercase;
 max-width: 215px;
 width: 100%;
 height: 64px;
 background: #5b61f5 url(../img/line.svg) 190px 28px no-repeat;
 color: #fff;
 font-weight: 700;
 cursor: pointer;
 background-size: 7px;
}

.section_button i {
 margin-left: 6px;
 font-size: 13px;
}

.autocontrol_right {
 position: absolute;
 top: 183px;
 right: 0;
 width: 100%;
 max-width: 950px;
}

/* SECTION COMPANY */

.company_text {
 margin-bottom: 80px;
}

.company_text-one {
 text-align: center;
 line-height: 44px;
 margin: 0 auto;
 max-width: 609px;

 width: 100%;
 font-weight: 600;
 font-size: 32px;
 padding-bottom: 24px;
 color: #1e2432;
}

.company_text-second {
 font-weight: 500;
 text-align: center;
 color: #687086;
 letter-spacing: 0;
 margin: 0 auto;
 max-width: 790px;

 width: 100%;
 font-size: 18px;
 line-height: 24px;
}

.company_description {
 background-color: #faf6f2;
 margin-bottom: 100px;
}

.company_list {
 padding: 80px 0;
 margin: 0 130px;
 list-style: none;
 display: flex;
 justify-content: space-between;
}

.company_list_item {
 display: flex;
 max-width: 270px;

 width: 100%;
}

.company_list_item:not(:last-child) {
 margin-right: 140px;
}

.company_list-text {
 margin-left: 20px;
}

.company_list-text p {
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
 color: #687086;
 padding-bottom: 8px;
}

.company_list-href {
 color: #1e2432;
 font-size: 12px;
 font-weight: 700;
 text-decoration: none;
}

.header_button_burger {
 display: none;
}

/* SECTION COMPANY ADVANTAGES*/

.company_advantages_blocks {
 max-width: 1140px;
 width: 100%;
 margin: 0 auto 100px;
}

.advantages_text {
 font-size: 32px;
 font-weight: 600;
 color: #1e2432;
 max-width: 1140px;
 width: 100%;
 margin: 0 auto 80px;
}

/* up */

.advantages_first {
 display: flex;
 margin-bottom: 80px;
}

.advantages_first-left {
 margin-right: 117px;
 padding: 118px 0;
 align-items: center;
}

.advantages_first-text {
 display: flex;
}

.advantages_first-text:not(:last-child) {
 margin-bottom: 80px;
}
.advantages_first_p {
 border-left: 5px solid #000;
 font-weight: 800;
 height: 16px;
 padding-left: 9px;
 margin-top: 4px;
 padding-right: 15px;
 border-radius: 2px;
}

.advantages_second_p {
 max-width: 413px;

 width: 100%;
 font-weight: 500;
 font-size: 18px;
 line-height: 24px;
 color: #687086;
}

/* down */

.advantages_second {
 display: flex;
}

.advantages_second-left {
 margin-left: 117px;
 padding: 56px 0 0 0;
 align-items: center;
}

.advantages_second_block_p {
 max-width: 413px;

 width: 100%;
 font-weight: 500;
 font-size: 18px;
 line-height: 24px;
 color: #687086;
}

/* SECTION advantages TOODAY */

.section_advantages_tooday {
 background-color: #faf6f2;
}
.advantages_tooday {
 padding: 80px 0 0 140px;
}

.advantages_tooday p {
 color: #1e2432;
 margin-bottom: 40px;
 font-weight: 600;
 font-size: 32px;
 line-height: 44px;
 max-width: 709px;

 width: 100%;
}

.advantages {
 margin-bottom: 80px;
}

/* section objects */

.section_objects {
 padding: 100px 150px 107px;
 background-color: #c5dded;
}

.section_objects_text {
 margin-bottom: 47px;
}

.section_objects_text p {
 font-weight: 600;
 font-size: 32px;
 line-height: 44px;
 color: #1e2432;
 margin-bottom: 24px;
}

.section_objects_text h4 {
 max-width: 540px;

 width: 100%;
 font-weight: 500;
 font-size: 18px;
 line-height: 24px;
 color: #687086;
}

.objects_list {
 display: flex;
 justify-content: space-between;
 padding: 0;
 margin: 0;
 list-style: none;
}

.objects_list_item img {
 margin-bottom: 32px;
}

.objects_list_item p {
 color: #1e2432;
 font-weight: 600;
 line-height: 22px;
 font-size: 16px;
 text-transform: uppercase;
 padding-left: 22px;
}

/* SERVICES */

.section_services {
 position: relative;
}

.section_services_text {
 font-size: 32px;
 padding: 100px 0 80px;
 text-align: center;
 font-weight: 600;
 color: #1e2432;
 max-width: 1140px;
 width: 100%;
 margin: 0 auto;
}

.services_list {
 display: flex;
 max-width: 1139px;
 width: 100%;
 margin: 0 auto;
 flex-wrap: wrap;
 list-style: none;
}

.services_list_item {
 max-width: 367px;

 width: 100%;
 margin-bottom: 167px;
}

.services_list_item:not(:nth-child(3n + 3)) {
 margin-right: 19px;
}

.services_list_item {
 position: relative;
}

.services_list_text {
 position: absolute;
 top: 338px;
 left: 16px;
 line-height: 22px;
 font-weight: 600;
 font-size: 16px;
 max-width: 280px;

 width: 100%;
 color: #fff;
 text-transform: uppercase;
}

.services_list_second_text {
 position: absolute;
 top: 35px;
 right: 30px;
 line-height: 22px;
 font-weight: 600;
 font-size: 16px;
 color: #fff;
 transform: rotate(-90deg);
}

.services_list_image {
 margin-bottom: 24px;
}

.services_text {
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 color: #687086;
 padding-left: 16px;
}

.services_button {
 position: absolute;
 top: 588px;
 margin-left: 16px;
 background-color: #fff;
 padding: 13px 15px;
 font-weight: 700;
 border: 3px solid #5b61f5;
 border-radius: 10px;
 cursor: pointer;
}

.services_button:hover {
 transition: linear 0.3s;
 background-color: #5b61f5;
 color: #fff;
}

/* FOOTER */

.footer {
 display: flex;
}

/* left */

.left_section_footer {
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 80px 0;
 background-color: #383955;
}

.footer_left {
 max-width: 248px;

 width: 100%;
 padding-left: 80px;
}

.footer_right {
 max-width: 400px;

 width: 100%;
 padding-right: 308px;
}

.footer_left p {
 font-weight: 600;
 font-size: 16px;
 line-height: 22px;
 color: #fff;
 text-transform: uppercase;
}

.footer_left p:not(:last-child) {
 padding-bottom: 24px;
}

.footer_logo {
 margin-bottom: 40px;
}

/* right */

.footer_right p {
 font-weight: 600;
 font-size: 16px;
 line-height: 22px;
 color: #fff;
 text-transform: uppercase;
 margin-bottom: 17px;
}

.input_name {
 color: #fff;
 font-weight: 600;
 font-size: 12px;
 line-height: 22px;
 color: #fff;
 text-transform: uppercase;
}

.input_email {
 color: #fff;
 font-weight: 600;
 font-size: 12px;
 line-height: 22px;
 color: #fff;
 text-transform: uppercase;
}

.input_name input {
 max-width: 400px;

 width: 100%;
 height: 48px;
 margin-bottom: 16px;
 font-size: 20px;
}

.input_email input {
 max-width: 400px;

 width: 100%;
 height: 48px;
 font-size: 20px;
 margin-bottom: 40px;
}

.footer_button {
 background-color: #383955;
 padding: 16px 17px;
 font-weight: 700;
 border: 3px solid #5b61f5;
 border-radius: 10px;
 cursor: pointer;
 color: #fff;
}

.footer_button:hover {
 background-color: #5b61f5;
 transition: linear 0.3s;
}

/* right-right */

.right_section_footer {
 background: #a7d0d6;
 max-width: 242px;

 width: 100%;
 text-align: center;
}

.right_section_footer i {
 font-size: 38px;
 padding-top: 80px;
}

.right_section_footer .fa-facebook-official {
 margin-right: 15px;
}

.right_section_footer .fa-youtube-play {
 margin-left: 15px;
}

/* FAVICON */

.fa-youtube-play:before {
 color: #383955;
}

.fa-facebook-official:before {
 color: #383955;
}

.header_icons .fa-youtube-play:before {
 color: #000;
 padding-left: 12px;
}

.header_icons .fa-facebook-official:before {
 color: #000;
 padding-right: 12px;
}

/* scroll */

.scroll_batton {
 position: absolute;
 right: 150px;
 top: 65px;
 border: none;
 max-width: 100px;

 width: 100%;
 height: 100px;
 border-radius: 50%;
 background: #383955 url(../img/line.svg) center center no-repeat;
 cursor: pointer;
 transform: rotate(-90deg);
 background-size: 12px;
}

.scroll_batton i {
 color: #fff;
 font-size: 30px;
}

/* SLIFER */

 .your-class {
     display: none !important;
 }